@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Roboto", sans-serif;
  
    --color-primary: #04615C;
    --color-secondary: #2E2E2E;
    --color-gray: #F8F8F8;
    --color-custom-gray: #F8F8F8;
  
    --height-full-device: 100dvh;
}
